@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:  "poppins";
  src: url("/src/fonts/Poppins/Poppins-Regular.ttf") ,


 
}
#cards{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
body{
  background-color: #37474f;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
*{
  font-family: 'poppins', sans-serif;
}